NODE_ENV=
HOST=
PORT=

MONGODB_URI = 

FRONTEND_URL=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRE=

COOKIE_EXPIRE=


STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GMAIL_USER=
GMAIL_PASS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_FROM_NAME=
SMTP_HOST=
SMTP_PORT=
SMTP_EMAIL=
SMTP_PASSWORD=